<div flex="30" layout="column" layout-padding>    
    <section flex>
        <md-content>            
            <md-list flex>                
                <md-list-item class="md-2-line" ng-repeat="component in components" ng-click="goTo(component)" ng-disabled="component.disabled">
                    <div class="md-list-item-text" layout-align="center center" layout="column" flex>                       
                       <h3>{{component.name}}</h3>
                    </div>
                </md-list-item>
            </md-list>
        </md-content>
    </section>    
</div>
<div flex layout="column" layout-padding>    
    <section flex="70">
        <div ui-view='componentcontentview'></div>
    </section>
    <section flex="30">
        <md-content layout-padding>
            <div flex layout="column">                
                <md-switch class="md-primary" ng-model="fiveOptions.initFive" aria-label="Switch">
                    <p>Johnny-Five instance state: <a ng-bind-html="fiveOptions.state()"></a> </p>
                </md-switch>
            </div>
        </md-content>
    </section>    
</div>